@import '@styles/_variables.scss';

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.adjacent-article-link {
  color: $linkColor;
}

.title-heading {
  margin: 0;
}

.blog-article li {
  margin-bottom: calc(2rem / 5);
}

pre[class*='language-'] {
  margin: 1em 0;
}
