@import '@styles/_breakpoints.scss';

.container {
  flex-direction: row;
  margin: 0 0.25rem;

  // padding: 2rem 1.3rem;

  @include breakpoint-large-up {
    // padding: 1rem 0rem;
    margin: 0 auto;
  }
}

.link {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
  color: rgb(36, 36, 36);
  margin: 0.25rem 0.5rem;
  box-shadow: 0 0 1px transparent;
}

.link-header {
  margin-top: 0;
}
