@font-face {
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
  src: url('LatoLatin-Regular.woff2') format('woff2'),
    url('LatoLatin-Regular.woff') format('woff');
  font-display: swap;
  unicode-range: U+0020-007F;
}

@font-face {
  font-family: Lato;
  font-weight: 400;
  font-style: italic;
  src: url('LatoLatin-Italic.woff2') format('woff2'),
    url('LatoLatin-Italic.woff') format('woff');
  font-display: swap;
  unicode-range: U+0020-007F;
}

@font-face {
  font-family: Lato;
  font-weight: 700;
  font-style: normal;
  src: url('LatoLatin-Bold.woff2') format('woff2'),
    url('LatoLatin-Bold.woff') format('woff');
  font-display: swap;
  unicode-range: U+0020-007F;
}
