@import "@styles/_variables.scss";
@import "@styles/_breakpoints.scss";

.page-wrapper {
  min-height: 100vh;
  margin: 0.25rem 0.5rem;
  max-width: 960px;
  padding: 0 1rem;

  @include breakpoint-xlarge-up {
    padding: 0;
  }

  @include breakpoint-medium-up {
    margin: 0 auto;
  }
}
