.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.125rem 0;
}

.social-icon-link {
  font-size: 2rem;
  color: rgb(36, 36, 36);
  margin: 0.25rem 0.5rem;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;

  > svg {
    max-width: 2rem;
    max-height: 2rem;
    vertical-align: middle;
  }

  &:hover,
  &:focus,
  &:active {
    animation-name: icon-wobble;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
  }

  @keyframes icon-wobble {
    25% {
      transform: translateY(-4px);
      transform: scale(1.1);
    }

    50% {
      transform: translateY(0px);
    }

    75% {
      transform: translateY(-1px);
    }

    100% {
      transform: translateY(0px);
    }
  }
}
