@import "@styles/_variables.scss";

.link {
  text-decoration: none;
  color: $linkColor;
}

.nav-list {
  list-style: none;
  margin-left: 0;
}

.nav-list > li {
  margin-right: 10px;
  float: left;
}

.active {
  text-decoration: underline;
}
